.App {
	background-color: #a9d7f3;
}

.imageCard {
	color: rgb(8, 8, 48);
	width: 500px;
	height: 375px;
	padding: 20px;
	transition: transform 100ms;
}

.imageCard:hover {
	transform: scale(1.09);
}

.imageCard > img {
	height: 265px;
	object-fit: contain;
	width: 500px;
}

.imageCard > h2 {
	padding-top: 10px;
}

.movie {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.thumbsUp,
.thumbsDown {
	width: 40px;
	height: 25px;
}
